body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
#title {
    font-family: monospace;
}

#black {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: black;
    display: inline-block;
    
}
#red {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: red;
    display: inline-block;    
}
#green {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: green;
    display: inline-block;  
}
#blue {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: blue;
    display: inline-block;  
}
.button {
    display: block;
    margin: 2%;
}
#pixel-board{
    /*border: 1px solid black;*/
   width: 226px;
}
.pixel {       
    background-color: white;
    width: 40px;
    height: 40px;    
    border: 1px solid black;
    display: inline-block;
}

